﻿



/* CustomForm.css */

/* Ensure that the Navbar stays at the top */
.navbar {
    
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Make sure it stays above other content */
}

/* Add padding or margin to the top of the main content to avoid overlap */
main {
    background-color: #1A5173;
    flex: 1;
    height: 100vw
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #F2F2F2
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #007bff; /* Blue for trust */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    input[type="submit"]:hover {
        background-color: #0056b3; /* Darker blue for hover effect */
    }



.resultsPage {
    text-align: center;
}

ul {
    margin-right: 25px;
}

li {
    background-color: #e6f2ff; /* Light blue for calmness */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

    li:nth-child(odd) {
        background-color: #dff0d8; /* Light green for growth and reassurance */
    }

.navStyle {
    background-color: #01020d;
}

.logo {
    margin: 4px;
}

.nameStyle {
    font-weight: 700;
    font-size: 50px;
    font-family: 'Bookman Old Style';
    color: #2976A6
}

body html {
    background-color: #01020d;
    height: 100%;
    margin: 0;
    color: #F2F2F2
}

.nameBox {
}



.cardStyle {
    text-align: center
}

.cardRowStyle {
    margin-top: 50px;
}

.cardText {
    color: #F2F2F2
}

.extraSpace {
    height: 100vw
}

.justifyCenter {
    justify-content: center;
}

.quoteText {
    text-align: center;
    font-size: xx-large;
    font-weight:500;
}

.buttonStyle {
    background-color: #2976A6
}
.loginPageTitle {
    text-align:center;
    font-weight:700
}

.boldText {
    font-weight:700;
}

.darkText {
    background-color: #01020d;
}

.cardRowStyle .cardText {
    color: #F2F2F2; /* Light text color */
}

.navbar .nav-link {
    color: #F2F2F2; /* Adjust color as needed */
}

.navbar .nav-link:hover {
    color: #007bff; /* Color for hover effect */
    text-decoration: none; /* Remove underline on hover */
}